.hr-color,
.hr-parent {
  margin-top: 0rem !important;
  margin-bottom: 2rem !important;
  border: 0 !important;
  border-top: 1px solid #4e4e4e !important;
}

.hr-parent {
  width: 96% !important;
}

.add-guardian,
.remove-guardian {
  display: flex;
  align-self: end;
}
.hand,.add-guardian-icon,
.remove-guardian-icon {
  cursor: pointer;
}
.parent-info{
  display: flex;
  flex-wrap: wrap;
}

.mx-datepicker {
  width: inherit!important;
}


.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #8bc34a !important;
}
span.custom-checkbox {
  padding: 2rem !important;
}
.custom-checkbox
  .custom-control-input:checked:focus
  ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #fff;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #fff;
  background-color: #fff;
}

.modal-tall .modal-dialog {
  margin-right: 0!important;
}
 
.modal.fade.modal-tall .modal-dialog {
  transform: translate(125%, 0px);
}

.modal.show.modal-tall .modal-dialog {
  transform: none;
}
